body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: #fff;
}

/* * {
  outline: 1px dashed red;
} */

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  /* width: 100%; */
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.main-title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: none;
  text-align: center;
  margin: 0 auto 72px;
  max-width: 200px;
}
.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.section-solutions {
  background: #2e2f42;
  padding: 72px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.button {
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  text-transform: capitalize;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-services,
.section-team {
  padding: 96px 0;
}

.services__icon-container {
  display: none;
}

.services__title {
  margin-bottom: 8px;
}

.services__item:not(:last-child) {
  margin-bottom: 72px;
}

.section-team {
  background-color: #f4f4fd;
}

.section-team__title {
  margin-bottom: 72px;
}

.members__item {
  border: 1px solid #e7e9fc;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  max-width: 264px;
  margin: 0 auto;
}

.members__item:not(:last-child) {
  margin-bottom: 72px;
}

.members__names,
.members__position {
  margin-bottom: 8px;
}

.members__position {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.members__content {
  padding: 32px 16px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social__item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link {
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social__link:hover,
.social__link:focus {
  background-color: #404bbf;
}

.social__icon {
  fill: #f4f4fd;
}

/* @media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
} */

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .section-solutions {
    padding: 112px 0;
  }

  .main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .services .services__item {
    margin-bottom: 0;
    width: calc((100% - 24px) / 2);
  }

  .services__title {
    text-align: left;
  }

  .members {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
    max-width: 768px;
    margin: 0 auto;
  }

  .members .members__item {
    margin: 0;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .section-solutions {
    max-width: 1440px;
    padding: 188px 0;
  }
  .main-title {
    margin-bottom: 48px;
  }
  .section-services,
  .section-team {
    padding: 120px 0;
  }
  .services {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .services .services__item {
    width: calc((100% - 72px) / 4);
  }

  .services__icon-container {
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    margin-bottom: 8px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .services__title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .services__content {
    font-weight: 400;
    letter-spacing: 0.018em;
  }

  .members {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
}
